*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  /* 62.5% font size equals 10px. This is figuring out the percentage of the default 16px font size and using the percentage to equal 10px.*/
  font-size: 62.5%;

  // @include respond-phone {
  //   font-size: 50%;
  // }

  // @include respond(phone) {
  //   font-size: 50%;
  // }

  @include respond(tab-land) {
    font-size: 56.25%; //1rem = 9px, 9/16 = 56.25%
  }
  // One on bottom receives precedence--so put smaller media responses on bottome and larger ones above them.
  @include respond(tab-port) {
    font-size: 50%; //1rem = 8px, 8/16 = 50%
  }

  @include respond(phone) {
    font-size: 30%; //1rem = 4.8px
  }

  @include respond(big-desktop) {
    font-size: 75%; //1rem = 12px, 12/16 =
  }
}
body {
  box-sizing: border-box;
}
