*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  /* 62.5% font size equals 10px. This is figuring out the percentage of the default 16px font size and using the percentage to equal 10px.*/
  font-size: 62.5%;
}
body {
  box-sizing: border-box;
}
